* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  transition: all 0.7s;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
}

:root {
  --black: #000;
  --white: #ffff;
  --blue: #6299d4;
  --darkGreen: #224190;
  --lightGreen: #335fcf;
  --lightGrey: #d9d9d9;
  --grey: #3d5daec2;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: var(--blue);
}

::-webkit-scrollbar-thumb {
  background: var(--lightGreen);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--darkGreen);
}

.navlink {
  color: var(--blue);
  text-decoration: none;
}
.active {
  color: var(--darkGreen);
}

.Toastify__toast-container {
  width: 20%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;

  position: fixed;
  top: 70px;
  left: 10px;
}
.Toastify__toast {
  width: 15rem;
  padding: 15px;

  position: absolute;


  display: flex;
  justify-content: space-evenly;
  align-items: center;

  border: 2px solid #224190;
  border-radius: 1rem;
  
  
  background: white;
  z-index: 10;
}

.Toastify__toast-body {
  width: 13rem;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  text-align: center;
}

.Toastify__toast-icon {
  width: 1.2rem;
  height: 1.2rem;
}
.Toastify__close-button {
  width: 1rem;
  height: 1rem;

  border: 0;
  background: transparent;
}
.Toastify__progress-bar-theme--dark {
  --toastify-color-progress-dark: var(--black);
}
