.root {
  min-width: 100%;
  min-height: 90vh;

  padding: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-image: url(../../../../UI/assets/img/waves.png);
  background-size: cover;
  .text {
    width: 50%;
    height: 80vh;

    padding: 60px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    label {
      font-size: 2em;
      color: var(--blue);
    }

    p {
      font-size: 4.5em;
      color: var(--lightGreen);
    }
  }
  @media (max-width: 1000px) {
    & {
      padding: 0;
    }
  }
  @media (max-width: 800px) {
    .text {
      padding: 30px;
      p {
        font-size: 3em;
      }
    }
  }
}
