.root {
  width: 80%;
  min-height: 120px;

  color: var(--blue);

  border: 3px solid var(--blue);
  border-radius: 2em;

  padding: 10px 0 0 10px;
  
  margin: 10px 0 0 10px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  font-size: 1em;
  .icon {
    width: 8%;
    height: 70%;
  }
  .container {
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

   p{
    min-width: 100px;
      word-break: break-all;
        max-width: 300px;
      }
  }

  input{
    min-width: 40px;
    min-height: 40px;

    border: 2px solid var(--blue);
  }
  @media (max-width:1200px) {
    
  }
}
