.root {
  width: 100%;
  min-height: 100vh;
  max-height: 200vh;

  padding-top: 40px;

  display: flex;

  .container {
    width: 60%;
    height: 60%;
    padding: 50px 0 0 50px;
    margin-top: 40px;

    display: flex;
    flex-direction: column;
    align-items: start;

    h1 {
      font-size: 3em;
      color: var(--lightGreen);

      padding-bottom: 25px;
    }

    p {
      width: 100%;

      font-size: 1.6em;
      color: var(--blue);

      padding-top: 25px;
    }
  }

  .dropdowns {
    width: 40%;
    height: 90vh;
    padding-top: 60px;

    background: url(../../UI/assets/img/circle.jpg);
    background-size: cover;

    display: flex;
    align-items: center;
    flex-direction: column;

    position: relative;
    .button {
      width: 70%;
      height: 1.7em;
      padding: 0.1em 0.5em;

      background: var(--white);

      border: 3px solid var(--blue);
      border-radius: 1em;

      font-size: 1.2em;
      color: var(--grey);

      display: flex;
      justify-content: center;
      align-items: center;
    }
    .item {
      width: 70%;
      background: var(--white);

      position: absolute;
      z-index: 2;

      padding: 0.2em 1em;

      font-size: 1.2em;
      color: var(--lightGreen);

      border: 2px solid var(--blue);
      border-radius: 1em;
      transform: translatey(2.5em);

      animation-name: dropdowns;
      animation-duration: 1s;
      @keyframes dropdowns {
        0% {
          transform: translateY(2em);
        }
        100% {
          transform: translatey(2.5em);
        }
      }
    }
    img {
      width: 60%;
      min-height: 70%;

      position: absolute;
      
      object-fit: contain;

      transform: translatey(2em);
      z-index: 0;
    }
  }

  @media (max-width: 1000px) {
    .container {
      width: 60%;
      height: 90%;
      padding: 25px 0 0 25px;

      h1 {
        font-size: 2em;
      }

      p {
        font-size: 1.2em;
      }
    }
    .dropdowns {
      width: 55%;
      .button {
        font-size: 1em;
      }
      .item {
        font-size: 1em;
      }
    }
  }
  @media (max-height: 800px) {
    .container {
      h1 {
        font-size: 2.3em;
      }

      p {
        font-size: 1.5em;
      }
    }
 
  }

  @media (max-width: 700px) {
    .container {
      height: 55%;

      h1 {
        font-size: 2em;
      }

      p {
        font-size: 1.2em;
      }
    }
    .dropdowns {
      width: 60%;
      .button {
        font-size: 0.8em;
      }
      .item {
        font-size: 0.8em;
      }
    }
  }

  @media (max-width: 550px) {
    & {
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;

      .container {
        width: 90%;
        height: 80vh;
        padding: 10px 0 0 10px;

        h1 {
          font-size: 2em;
        }

        p {
          font-size: 1em;
        }
      }

      .dropdowns {
        width: 100%;
        height: 80vh;

        position: none;
      }
    }
  }
  @media (max-width: 400px) {
    .container {
      height: 120vh;
    }
    .dropdowns {
      height: 125vh;
      .item{
        height: 70%;
        overflow-y: scroll;
      }
    }
  }
}
