.root {
  background: #fff;
  color: var(--grey);
  border-radius: 25px;
  border: 1px solid var(--darkGreen);

  padding: 5px 15px;
  margin: 5px;

  font-size: 1.5em;

  &:hover {
    background: var(--grey);
    color: #fff;

    transition: .6s;
  }

  @media (max-width: 800px) {
    & {
      font-size: 1em;
    }
  }
  @media (max-width: 450px) {
    & {
      padding: 0px 5px;
      font-size: 0.8em;
    }
  }
}
