.root {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 70px;

  background: url("../../UI/assets/img/waves.png");
  background-size: cover;

  .main {
    width: 90%;
    height: 90%;

    background: #fff;

    box-shadow: 0 2px 0px 0px rgb(202, 202, 202);

    border: 0;
    border-radius: 3em;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    .container {
      width: 60%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 15px;

      h1 {
        font-size: 2em;
        color: var(--lightGreen);
      }
      form {
        width: 100%;

        margin-bottom: 40px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;

        font-size: 1.4em;
        color: var(--grey);
        @media (max-width: 400px) {
          & {
            height: 40px;
            font-size: 1.3em;
          }
        }
      }

      .select {
        width: 45%;
        padding: 10px 5px;
        border: 2px solid var(--lightGreen) !important;
        .selectitem {
          padding: 15px 5px;
          border: 2px solid var(--lightGreen);
          word-break: break-all;
        }
      }
    }

    img {
      width: 50%;
      height: 100%;

      object-fit: contain;

      background: url("../../UI/assets/img/circle.jpg");
    }

    @media (max-width: 768px) {
      & {
        .container {
          h1 {
            font-size: 1.5em;
          }
        }
        img {
          display: none;
        }
      }
    }
  }
}
